.color-palette {
    margin: 10px 0;
}

.color-options {
    display: flex;
    justify-content: space-around;
}

.color-option {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.color-option:hover {
    border: 2px solid #000;
    transform: scale(1.1);
}

.color-palette h4 {
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
    font-weight: normal;
}


.color-options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}